body {
    /* background-image: url(https://storage.yandexcloud.net/moskvichmag/uploads/2019/09/shutterstock_1226684674.jpg);
    background-repeat: no-repeat;
    background-size: 100%; */
}

/* .container {
    background-color: white;
    padding: 30px;
    opacity: 85%;
} */